body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Avenir Next", "Avenir", sans-serif;
	max-height: 100vh;
	padding: 0;
	margin: 0 1rem;
}

.green {
	color: #6CA300;
}

header {
	flex: 0 1 auto;
}

#main-container {
	display: flex;
	flex: 1 1 auto;
}

#url-entry {
	width: 25rem;
}

#urls {
	width: 100%;
}

#do-it {
	background-color: #6CA300;
	color: #fafafa;
	font-weight: 500;
	font-family: "Avenir Next", "Avenir", sans-serif;
	font-size: 1.25rem;
	border: 1px solid #6CA300;
	border-radius: 0.4rem;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	padding: 0.4rem 0.8rem;
}

#do-it:hover {
	border-top-color: #5d8c00;
	background: #5d8c00;
	color: #ffffff;
	cursor: pointer;
}

#do-it:active {
	border-top-color: #77b300;
	background: #77b300;
}

.legal {
	font-size: 0.8rem;
}

#map {
	flex: 1;
	margin: 1rem 0 1rem 1rem;
}
